Repository Kalcoder/ICS4U-2020-21, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gtaEPIC, @sh0ckR6, @Kalcoder

.github/CODEOWNERS:

*     @gtaEPIC @sh0ckR6 @Kalcoder
jtextprocessors.*   @gtaEPIC
ktextprocessors.*   @sh0ckR6 @Kalcoder
Tui.*               @sh0ckR6 @Kalcoder

Minor formatting
  jtextprocessors.cpp
Owners: @gtaEPIC

Adjust leet case to work with new text processing format
  jtextprocessors.cpp
Owners: @gtaEPIC

Update README.md
  README.md
Owners: @gtaEPIC, @sh0ckR6, @Kalcoder

Rename Count Numbers to Count Digits
  Tui.cpp
  Tui.h
  ktextprocessors.cpp
  ktextprocessors.h
Owners: @sh0ckR6, @Kalcoder

Documentation
  jtextprocessors.cpp
Owners: @gtaEPIC

Add documentation
  Tui.cpp
  Tui.h
  ktextprocessors.cpp
  ktextprocessors.h
  main.cpp
Owners: @sh0ckR6, @Kalcoder, @gtaEPIC

Change description parameter in window creation helpers to title
  Tui.cpp
  Tui.h
Owners: @sh0ckR6, @Kalcoder

Make documentation consistent across all files
  jtextprocessors.cpp
  jtextprocessors.h
Owners: @gtaEPIC
